/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define DOWNUP 1
#define MOVEMENT 2
#define SYMBOLS 3
#define SERVICE 4

#define WAIT_MS 10
#define TAP_MS 10

/ {
    macros {
        euro: euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N8>
                , <&macro_release &kp LALT>
                ;
        };
        ae: ae { //TODO: adjust timing for äöü
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N8>
                , <&macro_release &kp LALT>
                ;
        };
        oe: oe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N6>
                , <&macro_release &kp LALT>
                ;
        };
        ue: ue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N2 &kp KP_N5 &kp KP_N2>
                , <&macro_release &kp LALT>
                ;
        };
        _AE: _AE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N6>
                , <&macro_release &kp LALT>
                ;
        };
        _OE: _OE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N1 &kp KP_N5 &kp KP_N3>
                , <&macro_release &kp LALT>
                ;
        };
        _UE: _UE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N0>
                , <&macro_release &kp LALT>
                ;
        };
        ss: ss {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N3>
                , <&macro_release &kp LALT>
                ;
        };
        avg: avg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N2 &kp KP_N4 &kp KP_N8>
                , <&macro_release &kp LALT>
                ;
        };
        prmll: prmll {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N3 &kp KP_N7>
                , <&macro_release &kp LALT>
                ;
        };
        mult: mult {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N5>
                , <&macro_release &kp LALT>
                ;
        };
        deg: deg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N7 &kp KP_N6>
                , <&macro_release &kp LALT>
                ;
        };
        tick: tick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N2 &kp KP_N3 &kp KP_N9>
                , <&macro_release &kp LALT>
                ;
        };
        alt_f4: alt_f4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp F4>
                , <&macro_release &kp LALT>
                ;
        };
        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp X>
                , <&macro_release &kp LCTRL>
                ;
        };
        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp C>
                , <&macro_release &kp LCTRL>
                ;
        };
        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp V>
                , <&macro_release &kp LCTRL>
                ;
        };
        undo: undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp Z>
                , <&macro_release &kp LCTRL>
                ;
        };
        redo: redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp Y>
                , <&macro_release &kp LCTRL>
                ;
        };
        ctl_home: ctl_home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp HOME>
                , <&macro_release &kp LCTRL>
                ;
        };
        ctl_end: ctl_end {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp END>
                , <&macro_release &kp LCTRL>
                ;
        };
        left8: left8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_tap     &kp LEFT>
                , <&macro_tap     &kp LEFT>
                , <&macro_tap     &kp LEFT>
                , <&macro_tap     &kp LEFT>
                , <&macro_tap     &kp LEFT>
                , <&macro_tap     &kp LEFT>
                , <&macro_tap     &kp LEFT>
                , <&macro_tap     &kp LEFT>
                ;
        };
        right8: right8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_tap     &kp RIGHT>
                , <&macro_tap     &kp RIGHT>
                , <&macro_tap     &kp RIGHT>
                , <&macro_tap     &kp RIGHT>
                , <&macro_tap     &kp RIGHT>
                , <&macro_tap     &kp RIGHT>
                , <&macro_tap     &kp RIGHT>
                , <&macro_tap     &kp RIGHT>
                ;
        };
        up8: up8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_tap     &kp UP>
                , <&macro_tap     &kp UP>
                , <&macro_tap     &kp UP>
                , <&macro_tap     &kp UP>
                , <&macro_tap     &kp UP>
                , <&macro_tap     &kp UP>
                , <&macro_tap     &kp UP>
                , <&macro_tap     &kp UP>
                ;
        };
        down8: down8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_tap     &kp DOWN>
                , <&macro_tap     &kp DOWN>
                , <&macro_tap     &kp DOWN>
                , <&macro_tap     &kp DOWN>
                , <&macro_tap     &kp DOWN>
                , <&macro_tap     &kp DOWN>
                , <&macro_tap     &kp DOWN>
                , <&macro_tap     &kp DOWN>
                ;
        };
        ctl_f9: ctl_f9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp F9>
                , <&macro_release &kp LCTRL>
                ;
        };
        ctl_f10: ctl_f10 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp F10>
                , <&macro_release &kp LCTRL>
                ;
        };
        shift_f11: shift_f11 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LSHFT>
                , <&macro_tap     &kp F11>
                , <&macro_release &kp LSHFT>
                ;
        };
        shift_f12: shift_f12 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LSHFT>
                , <&macro_tap     &kp F12>
                , <&macro_release &kp LSHFT>
                ;
        };
        ctl_min: ctl_min {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp MINUS>
                , <&macro_release &kp LCTRL>
                ;
        };
        ctl_shf_min: ctl_shf_min {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_press   &kp LSHFT>
                , <&macro_tap     &kp MINUS>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                ;
        };
        ctl_f: ctl_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp F>
                , <&macro_release &kp LCTRL>
                ;
        };
        ctl_d: ctl_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <WAIT_MS>;
            tap-ms = <TAP_MS>;
            bindings
                = <&macro_press   &kp LCTRL>
                , <&macro_tap     &kp D>
                , <&macro_release &kp LCTRL>
                ;
        };
    };
};

/ {
    behaviors {
        ae_AE: ae_AE {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ae>, <&_AE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        oe_OE: oe_OE {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&oe>, <&_OE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        ue_UE: ue_UE {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ue>, <&_UE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };
        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        fslh_bslh: fslh_bslh {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp KP_SLASH>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        qmark_excl: qmark_excl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sqt_dqt: sqt_dqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        minus_under: minus_under {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDER>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        equal_hash: equal_hash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp HASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        plus_mult: plus_mult {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp KP_PLUS>, <&kp KP_MULTIPLY>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        dot_comma: dot_comma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COMMA>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        undo_redo: undo_redo {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&undo>, <&redo>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        inc_dec_down_up: inc_dec_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&down8>, <&up8>;
        };   
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo0 { key-positions = <7 8>; bindings = <&kp LT>;    timeout-ms = <50>; layers = <0>;};  // < 
        combo1 { key-positions = <8 9>; bindings = <&kp GT>;    timeout-ms = <50>; layers = <0>;};  // >
        combo2 { key-positions = <19 20>; bindings = <&kp LBKT>;  timeout-ms = <50>; layers = <0>;};  // [
        combo3 { key-positions = <20 21>; bindings = <&kp RBKT>;  timeout-ms = <50>; layers = <0>;};  // ]
        combo4 { key-positions = <45 46>; bindings = <&kp LPAR>;  timeout-ms = <50>; layers = <0>;};  // (
        combo5 { key-positions = <46 47>; bindings = <&kp RPAR>;  timeout-ms = <50>; layers = <0>;};  // )
        combo6 { key-positions = <57 58>; bindings = <&kp LBRC>;  timeout-ms = <50>; layers = <0>;};  // {
        combo7 { key-positions = <58 59>; bindings = <&kp RBRC>;  timeout-ms = <50>; layers = <0>;};  // }

        combo8 { key-positions = <54 55>; bindings = <&caps_word>;  timeout-ms = <50>; layers = <0>;};  // both shift kezs for caps word

        combo9 { key-positions = <42 54>; bindings = <&mo SERVICE>;  timeout-ms = <100>; layers = <0>;};  // left encoder and left big key for BT etc.
    };
};
    
/ {

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "default";
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   | //\   |
// |  TAB  |  Q  |  W  |  F   |  P   |  B   |                   |  J   |  L    |  U    |  Y   |   ?/! | '/"   |
// |  RALT |  A  |  R  |  S   |  T   |  G   |                   |  M   |  N    |  E    |  I   |   O   | BKSPC |
// | LCTRL |  Z  |  X  |  C   |  D   |  V   |  CTX   |  | PRINT |  K   |  N    |  ,/;  |  ./: |   -/_ |  DEL  |
//               | WIN | ALT  |SYMBLS| SPACE| LSHFT  |  | RSHFT | RET} | NUMS* |  =/#  |  +/* |
            bindings = <
&kp ESC          &kp N1 &kp N2   &kp N3   &kp N4      &kp N5                                                 &kp N6            &kp N7      &kp N8      &kp N9     &kp N0       &fslh_bslh
&kp TAB          &kp Q  &kp W    &kp F    &kp P       &kp B                                                  &kp J             &kp L       &kp U       &kp Y      &qmark_excl  &sqt_dqt
&kp RALT         &kp A  &kp R    &kp S    &kp T       &kp G                                                  &kp M             &kp N       &kp E       &kp I      &kp O        &kp BSPC
&kp LCTRL        &kp Z  &kp X    &kp C    &kp D       &kp V               &lt DOWNUP K_CMENU &mt RCTRL PSCRN &kp K             &kp H       &comma_semi &dot_colon &minus_under &kp DEL
                        &kp LGUI &kp LALT &mo SYMBOLS &lt MOVEMENT SPACE  &kp LSHFT          &kp RSHFT       &lt MOVEMENT RET  &mo SYMBOLS &equal_hash &plus_mult
            >;
            sensor-bindings = <&inc_dec_kp DOWN UP &inc_dec_kp RIGHT LEFT>;
        };

        down_up_layer {
            display-name = "fast rotary encoder";
// -----------------------------------------------------------------------------------------------------------
// |   t  |      |      |       |       |      |                |      |      |       |      |       |       |
// |      |      |      |       |       |      |                |      |      |       |      |       |       |
// |      |      |      |       |       |      |                |      |      |       |      |       |       |
// |   t  |      |      |       |       |      |                |      |      |       |      |       |       |
//               |      |       |       |      |      |  |      |      |      |       |      |
            bindings = <
&trans     &none        &none        &none        &none        &none                         &none     &none     &none    &none     &none   &none
&none      &none        &none        &none        &none        &none                         &none     &none     &none    &none     &none   &none
&trans     &none        &none        &none        &none        &none                         &none     &none     &none    &none     &none   &none
&none      &none        &none        &none        &none        &none    &trans     &trans    &none     &none     &none    &none     &none   &none
                        &trans       &trans       &none        &none    &trans     &trans     &trans    &none     &none    &none
            >;
            sensor-bindings = <&inc_dec_down_up &inc_dec_kp RIGHT LEFT>;
        };

        movement_layer {
            display-name = "hot keys and moving";
// ------------------------------------------------------------------------------------------------------------
// |   t   |  F1  |  F2  |  F3   |  F4   |  F5  |                |  F6  |  F7  |  F8   |  F9  |  F10  |  F11  |
// |   t   |shfF11|  F11 |  F10  |ctl-F10|ctl-F9|                |      | PGUP |ctlHome|      | BREAK |  F12  |
// |   t   |shfF12|  F12 |ctlMin |ctshMin|ctl-F |                | HOME |   <- |   ^   |  ->  |  END  |   t   |
// |   t   | UNDO | CUT  | COPY  | PASTE |ctl-D |   t  |  |   t  |      | PGDN |   v   |      |  INS  |   t   |
//                |  t   |   t   |   t   |   t  |   t  |  |   t  |   t  |      |ctlEnd |      |
            bindings = <
&trans     &kp F1       &kp F2       &kp F3       &kp F4       &kp F5                        &kp F6    &kp F7    &kp F8    &kp F9    &kp F10         &kp F11
&trans     &shift_f11   &kp F11      &kp F10      &ctl_f10     &ctl_f9                       &none     &kp PG_UP &ctl_home &none     &kp PAUSE_BREAK &kp F12
&trans     &shift_f12   &kp F12      &ctl_min     &ctl_shf_min &ctl_f                        &kp HOME  &kp LEFT  &kp UP    &kp RIGHT &kp END         &trans
&trans     &undo_redo   &cut         &copy        &paste       &ctl_d        &trans  &trans  &none     &kp PG_DN &kp DOWN  &none     &kp INS         &trans
                        &trans       &trans       &none        &trans        &trans  &trans  &trans    &none     &ctl_end  &none
            >;
            sensor-bindings = <&inc_dec_kp DOWN UP &inc_dec_kp RIGHT LEFT>;
        };

        symbol_layer {
            display-name = "symbols and numbers";
// -------------------------------------------------------------------------------------------------------------------------
// |    t   |    ‰    |     %   |    €    |     $   |    ~    |               |      |      |       |      |   /   |   t   |
// |    t   |    @    |     ´   |    `    |     ^   |    |    |               |      |   7  |   8   |  9   |   *   |   t   |
// |    t   |    ß    |     ä   |    ö    |     ü   |    &    |               |      |   4  |   5   |  6   |   +   |   t   |
// |    t   |         |     ×   |    ø    |         |         |   t  | |   t  |      |   1  |   2   |  3   |   -   |   t   |
//                    |     t   |    t    |     t   |    t    |   t  | |   t  |   t  |   t  |   0   |  ./, |
            bindings = <
&trans   &prmll       &kp PRCNT &euro     &kp DLLR  &kp TILDE                             &none   &none     &none     &none     &kp KP_SLASH    &trans
&trans   &kp AT       &tick     &kp GRAVE &kp CARET &kp PIPE                              &none   &kp N7    &kp N8    &kp N9    &kp KP_MULTIPLY &trans
&trans   &ss          &ae_AE    &oe_OE    &ue_UE    &kp AMPS                              &none   &kp N4    &kp N5    &kp N6    &kp KP_PLUS     &trans
&trans   &none        &mult     &avg      &none     &none     &kp C_PLAY_PAUSE &kp C_MUTE &none   &kp N1    &kp N2    &kp N3    &kp KP_MINUS    &trans
                      &trans    &trans    &trans    &trans    &trans           &trans     &trans  &trans    &kp N0    &dot_comma
            >;
            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        service_layer {
            display-name = "bluetooth service";
// ----------------------------------------------------------------------------------------------------------------------------
// | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |         |                  |      |      |       |      |       |       |
// | CLR ALL|         |         |         |         |         |                  |      |      |       |      |       |       |
// |        |         |         |         |         |         |                  |      |      |       |      |       |       |
// |        |         |         |         |         |         |         | |      |      |      |       |      |       |       |
//                    |         |         |         |         |         | |      |      |      |       |      |
            bindings = <
&bt BT_CLR     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &none             &none &none &none &none &none  &none
&bt BT_CLR_ALL &none        &none        &none        &none        &none             &none &none &none &none &none  &none
&none          &none        &none        &none        &none        &none             &none &none &none &none &none  &none
&none          &none        &none        &none        &none        &none &none &none &none &none &none &none &none  &none
                            &none        &none        &none        &none &none &none &none &none &none &none
            >;
            sensor-bindings = <&inc_dec_kp DOWN UP &inc_dec_kp RIGHT LEFT>;
        };

    };
};
